extends: standard

rules:
  no-multi-spaces: ["error", { exceptions: { "VariableDeclarator": true, "ImportDeclaration": true, "AssignmentExpression": true } }]
  key-spacing: ["error", { "align": "colon" }]
