dotfiles: '/opt/pongstr'

brew:
  taps: [
    "homebrew/dupes"
    "homebrew/homebrew-php"
    "homebrew/services"
    "homebrew/versions"
    "jawshooah/nodenv"
    "caskroom/cask"
    "caskroom/fonts"
    "caskroom/versions"
  ]
  packages: [
    "dnsmasq"
    "gnupg"
    "gpg-agent"
    "mongodb"
    "nginx"
    "redis"
    "curl --with-openssl"
    "git"
    "heroku-toolbelt"
    "libyaml"
    "nodenv"
    "openssl"
    "php56 --with-fpm  --with-imap  --without-apache --with-debug"
    "pinentry-mac"
    "python"
    "rbenv"
    "vim --override-system-vi"
    "wget"
    "zsh"
  ]

cask: [
  "appcleaner"
  "atom"
  "docker"
  "dropbox"
  "firefox"
  "firefoxdeveloperedition"
  "github-desktop"
  "google-chrome"
  "google-chrome-canary"
  "kaleidoscope"
  "lantern"
  "rdm"
  "robomongo"
  "spotify"
  "skype"
  "sublime-text3"
  "torbrowser"
  "vlc"
  "virtualbox"
]

fonts: [
  "font-lato"
  "font-open-sans"
  "font-roboto"
  "font-source-code-pro"
]

npm: [
  "bower"
  "coffee-script"
  "grunt-cli"
  "gulp"
  "eslint"
  "karma-cli"
  "strongloop"
  "nodemon"
  "pm2"
  "shelljs"
]

gem: [
  "bourbon"
  "bundler"
  "jekyll"
]

editor:
  atom:
    home_dir: "~/.atom"
    config: [
      { source: ".atom-config",  target: "config.cson" }
      { source: ".atom-styles",  target: "styles.less" }
      { source: ".atom-toolbar", target: "toolbar.coffee" }
    ]
    plugins: [
      # "angularjs"
      # "emmet"
      # "git-control"
      # "language-docker"
      # "language-nginx"
      # "language-nunjucks"
      # "language-puppet"
      # "linter"
      # "linter-eslint"
      # "merge-conflicts"
      # "minimap"
      # "platformio-ide-terminal"
      # "tool-bar"
      # "tool-bar-almighty"
      # "wordpress-api"
      # # "terminal-plus" # is currently broken
    ]
  term:
    home_dir: "~"
    config: [
      { source: ".bash_alias",    target: ".bash_alias" }
      { source: ".bash_profile",  target: ".bash_profile" }
      { source: ".bashrc",        target: ".bashrc" }
      { source: ".curlrc",        target: ".curlrc" }
      { source: ".zshrc",         target: ".zshrc" }
      { source: ".zsh-theme",     target: ".oh-my-zsh/themes/pongstr.zsh-theme" }
    ]
  vim:
    home_dir: "~/.vim"
    config: [
      { source: ".vim-config", target: ".vimrc" }
      { source: ".vim-styles", target: "colors/pongstr.vim" }
    ]
    plugins: []

dnsmasq:
  host: '127.0.0.1'
  ext: 'dev'
  config_dir: 'config/dnsmasq'

nginx:
  config_dir: 'config/nginx'

mongodb:
  host: '127.0.0.1'
  port: 37017
  config_dir: 'config/mongodb'

mysql:
  host: '127.0.0.1'
  port: 33061
  config_dir: 'config/mysql'

redis:
  host: '127.0.0.1'
  port: 16379
  config_dir: 'config/redis'
