dotfiles: '/opt/pongstr'

brew:
  taps: [
    "homebrew/dupes"
    "homebrew/homebrew-php"
    "homebrew/services"
    "homebrew/versions"
    "jawshooah/nodenv"
  ]
  packages: [
    "dnsmasq"
    "gnupg"
    "gpg-agent"
    "mongodb"
    "nginx --with-http2 --with-gunzip"
    "redis"
    "curl --with-openssl"
    "git"
    "heroku-toolbelt"
    "libyaml"
    "nodenv"
    "openssl"
    "pinentry-mac"
    "python"
    "rbenv"
    "vim --with-override-system-vi"
    "wget"
    "zsh"
  ]

cask: [
  "appcleaner"
  "atom"
  "docker"
  "dropbox"
  "firefox"
  "firefoxdeveloperedition"
  "github-desktop"
  "google-chrome"
  "google-chrome-canary"
  "kaleidoscope"
  "kitematic"
  "rdm"
  "robomongo"
  "spotify"
  "skype"
  "sublime-text"
  "vlc"
  "virtualbox"
  "torbrowser"
]

fonts: [
  "font-lato"
  "font-open-sans"
  "font-roboto"
  "font-source-code-pro"
]

npm: [
  "bower"
  "gulp"
  "eslint"
  "express-generator"
  "loopback-cli"
  "nodemon"
  "pm2"
  "shelljs"
]

gem: []

editor:
  atom:
    home_dir: "~/.atom"
    config: [
      { source: "lib/shared/.atom-config",  target: "config.cson" }
      { source: "lib/shared/.atom-styles",  target: "styles.less" }
      { source: "lib/shared/.atom-toolbar", target: "toolbar.coffee" }
    ]
    plugins: [
      "angularjs"
      "git-control"
      "language-docker"
      "language-nginx"
      "language-nunjucks"
      "language-puppet"
      "linter"
      "linter-eslint"
      "merge-conflicts"
      "minimap"
      "platformio-ide-terminal"
      "tool-bar"
      "tool-bar-almighty"
      "wordpress-api"
      # "terminal-plus" # is currently broken
    ]
  term:
    home_dir: "~"
    config: [
      { source: ".bash_alias",    target: "~/.bash_alias" }
      { source: ".bash_profile",  target: "~/.bash_profile" }
      { source: ".bashrc",        target: "~/.bashrc" }
      { source: ".tmu-config",    target: "~/.tmux.config" }
      { source: ".zshrc",         target: "~/.zshrc" }
      { source: ".zsh-theme",     target: "~/.oh-my-zsh/themes/pongstr.zsh-theme" }
      # { source: ".curlrc",        target: "~/.curlrc" }
    ]
  vim:
    home_dir: "~/.vim"
    config: [
      { source: ".vim-config", target: "~/.vimrc" }
      { source: ".vim-styles", target: "~/.vim/colors/pongstr.vim" }
    ]
    plugins: []

dnsmasq:
  meta:
    file: 'dnsmasq.conf'
    dirs: []
  context:
    host: '127.0.0.1'
    ext: 'dev'

nginx:
  meta:
    path: 'nginx'
    file: 'nginx.conf'
    dirs: [
      'cache'
      'logs'
      'pid'
      'sites'
      'ssl'
      'temp'
      'www'
    ]
  context:
    host:     'localhost'
    port:     80
    sites:    '/opt/pongstr/config/nginx/sites'
    root:     '/opt/pongstr/config/nginx/www'
    php_root: '/opt/pongstr/config/nginx/www/wordpress'
    logs:     '/opt/pongstr/config/nginx/logs'

mongodb:
  meta:
    file: 'mongod.conf'
    dirs: [
      'databases'
      'log'
    ]
  context:
    port:   37017
    host:   '127.0.0.1'
    logs:   '/opt/pongstr/config/mongodb/log/mongo.log'
    dbPath: '/opt/pongstr/config/mongodb/databases'

mysql:
  host: '127.0.0.1'
  port: 33061
  config_dir: 'config/mysql'

redis:
  meta:
    file: 'redis.conf'
    dirs: []
  context:
    host: '127.0.0.1'
    port: 16379
