"*":
  "exception-reporting":
    userId: "ca555e8d-6640-8983-046b-4dcf0a29a906"
  welcome:
    showOnStartup: false
  core:
    ignoredNames: [
      ".DS_Store"
      "Thumbs.db"
      "*~"
      "._*"
      ".cache"
      ".git"
      ".idea"
      ".project"
      ".settings"
      ".tmproj"
      "*.diff"
      "*.err"
      "*.orig"
      "*.log"
      "*.rej"
      "*.swo"
      "*.swp"
      "*.zip"
      "*.vi"
      "*.esproj"
      "*.sublime-project"
      "*.sublime-workspace"
      ".komodotools"
      "*.komodoproject"
      "bower_components"
      "node_modules"
    ]
    destroyEmptyPanes: false
    editor: {}
    term2: {}
  editor:
    invisibles: {}
    fontFamily: "Consolas"
    showIndentGuide: true
    lineHeight: 1.6
    scrollPastEnd: true
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    tabType: "soft"
    zoomFontWhenCtrlScrolling: true
    fontSize: 13
  "one-dark-ui":
    layoutMode: "Compact"
    fontSize: 11
  "*":
    whitespace:
      removeTrailingWhitespace: true
      ignoreWhitespaceOnCurrentLine: false
  term2:
    fontFamily: "Menlo"
    fontSize: "11"
    openPanesInSameSplit: true
    titleTemplate: "/usr/local/bin/zsh"
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "file-icons":
    forceShow: true
    onChanges: true
    coloured: false
  "tool-bar-almighty":
    custom: "toolbar.coffee"
    override: true
  "tool-bar":
    position: "Left"
    iconSize: "14px"
